# This file contains environment variables for the application.
# Make sure to rename this file to .env before running the application.
# You can copy this file to .env and fill in the values.
# Author: Ibnu.Ali
# Date: 2025-05-09

# initial port for the express server
EXPRESS_SERVER_PORT=

# initial database mongodb
MONGODB_URI=
MONGODB_NAME=
MONGODB_USER=
MONGODB_PASSWORD=